@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --light-black :#282729;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body{
    background-color: var(--white);
    margin: 0;
    overflow-x: hidden;
    /* height: 100dvh;
    display: flex;
   justify-content: space-between;
   flex-direction: column; */
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

/* light/dark mode */
.dark-back{
    background-color: var(--light-black);
}
.dark-color{
    color: var(--white) !important
}
.light-back{
    background-color: var(--white);
}
.light-color{
    color: var(--black) !important
}
.dark-card{
    background-color: #757575;
    color: var(--white);
}
.light-card{
    background-color: #e5e5e5;
}
/* end dark/light */

.header{
    top: 0;right: 0;left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}
.header .logoContent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .logoContent .logo img{
    height: 6rem;
    width: 6rem;
}
.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .1rem ;
    padding-bottom: .4rem;
} 
#dlmode , #Login {
font-size: 1.8rem;
background-color: var(--black);
color: var(--white);
border-radius: .7rem;
padding: .7rem 2.4rem;
cursor: pointer
}
/* .login{
font-size: 1.8rem;
background-color: var(--black);
color: var(--white);
border-radius: .7rem;
padding: .7rem 2.4rem;
cursor: pointer
} */

#menu-bar{
    display: none;
}


.slide-down {
    animation: slide-down 1s ease-in-out;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.home {
    height: 700px;
    display: flex;
    align-items: center;
    background-color:#FFC96F ;
    background-size: cover;
    background-position: center center;
}
.home .heroPic{
    float: left;
}
.home .homeContent{
    width: 50%;
    float: right;
    text-align: center;
    padding: 4rem;
}
.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    /* color: var(--black); */
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.home .homeContent .home-btn{
    height: 3rem;
}
.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}
section{
    padding: 2rem 7%;
}
.product .heading h2 ,h3{
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    margin-top: 5rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.notitem{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.carth3{
    font-size: 2rem !important; 
}
#productCads , #buy-product{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.my-card{
    /* background-color: #ccc;  */
    width: 24rem;
     margin: 20px;
     border-radius: 20px;
     overflow: hidden;
     display: flex ; 
     justify-content: center ;
     align-items: center ;
    
}
#cardTitle{
    font-size: 3rem;
    font-weight: bolder;
}
#cardDes{
    font-size: 15px;
}
#cardBtn{
    /* margin-right: auto;
    margin-left: auto; */
    width: 150px;
    font-size: 15px;
    background-color:  #FFBF00;
    border-radius: 10px;
}

/* slider */
.temp{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 40px;
}
.image-slider{
    width: 90vw;
    position: relative;
    height:500px;
    display: block;
    margin : 100px auto 0px auto;
    overflow: hidden;
    border-radius: 40px;
}
.slider-container{
    position: absolute;
    top: 0;
    left: 0;
    /* background: #eaeaea; */
    width: 400%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 0;
    border-radius: 40px;

}
.slider-container .slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
   
    overflow: hidden;
}

.box {

    display: flex;
    align-items: center;
    background-color: #e8e6e6;
    flex-wrap: wrap;
    border-radius: 40px;
}
.box .img{
    flex: 1 1 45rem;
}
 .box .img img{
    width: 100%;
    padding: 5rem;
}
 .box .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
 .box .content h3{
    font-size: 3.5rem;
    color: var(--black);
    text-shadow: var(--box-shadow);

}
.box .content p{
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
    
}

.arrow-right ,.arrow-left{
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}
.arrow-left:hover , .arrow-right:hover{
    background: #fff;
    color: #000;
}
.arrow-left{
    left: 1em;
}
.arrow-right{
    right: 1em;
}
/* login */
.login-container{
    align-items: center;
    justify-content: center;
    background:rgba(74, 72, 72, 0.9);
    position: fixed;
    top: 0;
    z-index: -10000;
    height: 100%;
    width: 100%;
    display: none;
}
.login-container.active{
    right: 0;
    display: flex;
}
.login-container form{
    border: solid #757575;
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}
.login-container form img{
    height: 20rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-container form input{
    border: solid #757575;
    border-radius: 0.5rem;
    width: 100%;
    height: 20px;
}

.login-container form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.login-container form span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.login-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: solid #757575;
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.login-container form .btn{
    text-align: center;
    width: 100%;
    margin:1.5rem 0;
    border: solid #757575;
    border-radius: 0.5rem;
}

.login-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* footer styles */
.footer{
    height: 15rem;
    padding-top: 2rem;
}

.footer-part1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-part1 img{
    width: 7rem;
    padding: 10px;
    /* margin-top: 50px; */
   
}
.footer-vpn-name{
    font-size: 40px;
    font-weight: 300;
}

.footer-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-part2 a{
    font-size: 12px;
    text-align: center;
    width: fit-content;
    padding: 0 0.1rem ;
    text-decoration: none;
    color: #352202;
}

.hr-line{
    border-top: #666 5px solid;
    width: 80%;
}

.hr-line-p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cart{
    flex-shrink: 0;
    width: 70%;
    /* display: flex; */
    gap: 20px;
    /* border: 1px solid rgb(49, 49, 49); */
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px rgb(97, 97, 97);

    overflow: hidden;
}



.card-cart div h2{
    margin-top: 10px;
    color: #656565;
}
.card-sec{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-two-cart{
    background-color: #dedcdc;
}

.Finalize{
    font-size: 1.8rem;
background-color: var(--black);
color: var(--white);
border-radius: .7rem;
padding: .7rem 2.4rem;
cursor: pointer;
margin-top: 20px;

}
/* contact us */

.newsletter{
    margin-top: 100px;
    border-radius: 40px;
    background: url(images/bacground.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.newsletter form{
    max-width: 45rem;
    text-align: center;
    padding: 5rem 0;
}
.newsletter form h3{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: .7rem;
}
.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    color: var(--black);
    border-radius: .5rem;
}
.newsletter form .box2{
    width: 30%;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .5rem .5rem;
    color: var(--black);
    background: var(--white);
    border-radius: 3rem;
    cursor:pointer;
}
.newsletter form .box2:hover{
    color: var(--white);
    background-color: var(--black);
    outline: .1rem solid var(--white);
}

/* snack bar */

/* The snackbar - position it at the bottom and in the middle of the screen */
#contact-snackbar , #cart-snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #FFBF00; /* Black background color */
    color: #000; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    border-radius: 3rem;
    font-size: 2rem;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #contact-snackbar.show , #cart-snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  /* go shop . cart */
  .goShop{
    font-size: 1.8rem;
    background-color: #FFBF00;
    color: var(--black);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
  }

/* go top */
.go-top{
    background-color: #ffbf00;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    
}
.go-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.pgbtn{
    font-size: 1.8rem;
    background-color: #FFBF00;
    color: var(--black);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
.btnselected{
    font-size: 1.8rem;
    background-color: #bd900c;
    color: var(--black);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #bd900c;
    z-index: 1000;
}
  